---

name: ansible

on:
  pull_request:
  push:
    branches:
      - main
      - wip/next

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:

  ansible-lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: ansible/ansible-lint@v25

  molecule:
    needs:
      - ansible-lint
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        distro:
          - name: rockylinux-8
            ansible: '2.16' # latest to support target python 3.6
            python: '>=3.10 <3.13'
          - name: rockylinux-9
            ansible: '2.20'
            python: '>=3.12 <3.15'
        scenario:
          - default
          - alternative

    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.distro.python }}
      - run: >-
          pip3 install
          ansible-core~=${{ matrix.distro.ansible }}.0
          docker
          molecule
          molecule-plugins[docker]
      - run: ansible --version
      - run: molecule --version
      - run: >-
          molecule test
          -p ${{ matrix.distro.name }}
          -s ${{ matrix.scenario }}
        env:
          ANSIBLE_DIFF_ALWAYS: 'True'
          PY_COLORS: '1'

...
